# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# Django
db.sqlite3
*.log
local_settings.py
settings/local.py
media/
static_collected/
staticfiles/

# 安全
.env
*.key
*.pem
secrets.json

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# 部署运行时
*.sock
*.pid
logs/